<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.padel.radar</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/gergelygillay/padel-demand/run_daily.sh</string>
  </array>
  <!-- Naponta kétszer: 10:00 (a reggeli foglalási hullám után)
       és 17:00 (az esti csúcs előtti, majdnem végleges állapot) -->
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Hour</key><integer>10</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Hour</key><integer>17</integer><key>Minute</key><integer>0</integer></dict>
  </array>
  <key>StandardErrorPath</key>
  <string>/tmp/padel-radar.err</string>
</dict>
</plist>
